@charset "UTF-8";

body{
    background-color: rgb(46, 110, 228);
    font: normal 15pt Arial;
}
header{
    color: white;
    text-align: center;
}
section{
    text-align: center;
    background-color: white;
    padding: 0px 25px;
    border-radius: 10px;
    width: 500px;
    margin: auto;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.459);
}
select{
    padding: 0px;
    width: 170px;
}

footer{
    text-align: center;
    color: rgba(255, 255, 255, 0.734);
    font-style: italic;
    font-weight: normal;
}
div{
    padding: 14px;
    text-align: center;
}